langchain-core==0.2.23
langchain-community
langchain==0.2.10
langchain-openai
langchain-pinecone
streamlit==1.34.0
streamlit-extras
streamlit-antd-components
st-gsheets-connection
streamlit-carousel
streamlit_timeline
tavily-python
bs4
st-gsheets-connection
pandas
numpy
gpt-researcher
pinecone-client
langgraph==0.2.2
