langchain-core
langchain-community
langgraph==0.1.17
langchain
langchain-openai
langchain-pinecone
streamlit==1.34.0
streamlit-extras
streamlit-antd-components
st-gsheets-connection
streamlit-carousel
streamlit_timeline
tavily-python
bs4
st-gsheets-connection
pandas
numpy
gpt-researcher
pinecone-client
aiosqlite